@import "tailwindcss";

/* Vazirmatn */
@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* B Nazanin */
@font-face {
    font-family: 'B Nazanin';
    src: url('/fonts/Bnazanin/BNAZANIN.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'B Nazanin';
    src: url('/fonts/Bnazanin/BNAZANB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



@layer base {
    :root {
        --color-bg: #F9FAFB;
        --color-text: #111827;
    }

    .dark {
        --color-bg: #0F172A;
        --color-text: #F1F5F9;
    }

    html {
        font-family: 'Vazirmatn', sans-serif;
        direction: rtl;
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text);
    }
}